In [13]:
import pandas as pd

file = "c:\\Users\\Owner\\Desktop\\testing heavy data\\3.1-data-sheet-udemy-courses-business-courses.csv"
df1 = pd.read_csv(file)

In [14]:
print(df1.columns)

Index(['course_id', 'course_title', 'url', 'price', 'num_subscribers',
       'num_reviews', 'num_lectures', 'level', 'Rating', 'content_duration',
       'published_timestamp', 'subject'],
      dtype='object')

In [15]:
df1.head(1)

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
0,49798,Bitcoin or How I Learned to Stop Worrying and ...,https://www.udemy.com/bitcoin-or-how-i-learned...,$0,#65576,936,24,All Levels,0.56%,8.0,2013-04-20T02:25:22Z,Business Finance

In [81]:
def remove_f(val):
    val = val[1:]
    return val
def remmove_l(val):
    val = val[:-1]
    return val

In [82]:
df1['num_subscribers'] = df1['num_subscribers'].apply(remove_f)
df1['Rating']= df1['Rating'].apply(remmove_l)

In [84]:
df1['Rating']

0       0.56
1       0.95
2       0.91
3       0.18
4       0.37
        ...
1186    0.95
1187    0.95
1188    0.36
1189    0.15
1190    0.18
Name: Rating, Length: 1191, dtype: object